* {
     text-align: center;
     font-family:Tahoma, Geneva, sans-serif; /*Verdana, Geneva, sans-serif; */            
}

#home {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 500px;
    margin: auto;
    text-align:center;
    vertical-align:middle;
    border:1px solid #BF5900;
    border-radius: 25px;
    background: -webkit-linear-gradient(#FF993F, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF993F, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF993F, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF993F, white); /* Standard syntax */
}
   
.results {
    display: inline-block;
    position: static;
    width: 500px;
    height: 500px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    vertical-align:middle;
    overflow:scroll;
    border:1px solid #BF5900;
    border-radius: 25px;
    background: -webkit-linear-gradient(#FF993F, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF993F, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF993F, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF993F, white); /* Standard syntax */

}

.widget{
	padding-left:270px;
	padding-right:270px;
}

img {
    padding-top: 20px;
    height:30%;
    width:30%;
}

p {
  padding-left: 20px;
  padding-right: 20px;	
  font-size:20px;
}
p img {
  height: 30px;
  width: 30px;
}

input[type=text] {
  width:300px;
  padding:5px; 
  border:2px solid #ccc; 
  border-radius: 5px;
}

h1 img{
    height:100px;
    width:100px;
}

h3 img{
   height: 75px;
   width: 75px;
}
