div {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 500px;
    margin: auto;
    text-align:center;
    vertical-aling:middle;
    border:1px solid #BF5900;
    border-radius: 25px;
    background-color: #FF993F;
}

img {
    padding-top: 20px;
    height:30%;
    width:30%;
}

p {
  padding-left: 20px;
  padding-right: 20px;	
  font-size:20px;
  font-family:Verdana, Geneva, sans-serif;  
}

p img {
  height: 30px;
  width: 30px;
}

input[type=text] {
  width:300px;
  padding:5px; 
  border:2px solid #ccc; 
  border-radius: 5px;
}
<<<<<<< HEAD


=======
>>>>>>> b2f03f06d331ccf10eb2b6a6486f97e9caf5ddc0
