<!DOCTYPE HTML>
<head>
  <link type="test/css" rel="stylesheet" href="../static/main.css"/>
</head>
<body>
  <div id="home">
    <img style="padding-top:20px;height:30%;width:30%" src="../static/firemoji.png"/>
    <p><b>firEmoji: sound and sight</b> <br>
    search for the 5 <img src="../static/firemoji.png"/>est tracks and pics based on a single query</p>
   <form method="POST">
      <input type="text" name="keyword"/>
      <br> <br> <br>
      <input type="submit" value="search"/>
   </form> 
  </div>
</body>

